.login-container {
    margin: 0 auto;
}

.panel-error {
    border: 1px solid #e9573f !important;
}

.login-container #content_wrapper{
    margin-left: 0px !important;
}

.login-container .error-message{
    font-size: 1em;
    color: #de3a37;
}

.admin-form .panel {
    margin-bottom: 0px;
}

.approver-row-hover {
    cursor: pointer;
}

.approver-row-active {
    background-color: #f5f5f5;
}

.approver-table-panel .panel-body {
    max-height:533px ;
    overflow: auto
}

.approver-add-department {
    max-height: 300px;
    overflow: auto;
}

.employee-row-hover {
    cursor: pointer;
}

.employee-row-active {
    background-color: #f5f5f5;
}

.employee-table-panel .panel-body {
    max-height:533px ;
    overflow: auto
}

.department-row {
    cursor: pointer;
}

.department-row-active {
    background-color: #f5f5f5;
}


.department-table-panel .panel-body {
    max-height:533px ;
    overflow: auto
}

.department-editEmployee-inDepartment-table .panel-body {
    max-height:300px ;
    overflow: auto
}

.department-editEmployee-outDepartment-table .panel-body {
    max-height:300px ;
    overflow: auto
}



.employee-edit-personal {
    cursor: pointer;
}

.employee-edit-personal:hover {
    color: #4a89dc;
}

.alerty {
    position: fixed;
    padding: 20px;
    top: 8px;
    right: 26px;
    z-index: -1000;
    font-size: 120%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .5s linear;
    -moz-transition: opacity .5s linear;
    -o-transition: opacity .5s linear;
    transition: opacity .5s linear;
}

.alerty.visible {
    opacity: .95;
    z-index: 9000;
    visibility: visible;
}

.alerty .close {
    top: -10px;
    right: -10px;

}

.upload-icon {
    font-size: 175%;
    position: relative;
    bottom: 28px;
    left: 134px;
    color: white;
}

.upload-icon:hover {
    color: #4a89dc;
    cursor: pointer;
}

.table-spinner {
	margin: 20px;
	font-size: 50px;
	color: #222;
}
